@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x1rg5ohu {
    display: inline-block;
  }
}

@layer components.stylex.priority2 {
  .x17uqirv {
    height: var(--jx-icon-size, var(--jx-icon, 1.5rem));
  }

  .xkd2l6g {
    width: var(--jx-icon-size, var(--jx-icon, 1.5rem));
  }
}
/* buildId: b3ad961302de84899611d87ca5d0c5c564f205140fe2b2a2409e6feb8bf37b44 · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
