@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2, utilities;
@layer properties, theme, base, components;

@layer components.stylex.priority1 {
  .x1rg5ohu {
    display: inline-block;
  }
}

@layer components.stylex.priority2 {
  .x17uqirv {
    height: var(--jx-icon-size, var(--jx-icon, 1.5rem));
  }

  .xkd2l6g {
    width: var(--jx-icon-size, var(--jx-icon, 1.5rem));
  }
}

@layer utilities;
/* buildId: d2f8f1efd193cdbf3ee9e9e340a002ffaaf0f5071638076c2f0d3a165f5e94d4 · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
