@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x1rg5ohu {
    display: inline-block;
  }
}

@layer components.stylex.priority2 {
  .x17uqirv {
    height: var(--jx-icon-size, var(--jx-icon, 1.5rem));
  }

  .xkd2l6g {
    width: var(--jx-icon-size, var(--jx-icon, 1.5rem));
  }
}
/* buildId: 0ce7cb9fd93bfb6d0c326c10126a270111182c0d8894fc9ce51d327ff7ca2ee0 · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
