@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x1ghz6dp {
    margin: 0;
  }

  .x1717udv {
    padding: 0;
  }
}

@layer components.stylex.priority2 {
  .x3ct3a4 {
    list-style-type: none;
  }
}
/* buildId: 0ce7cb9fd93bfb6d0c326c10126a270111182c0d8894fc9ce51d327ff7ca2ee0 · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
