@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x1ghz6dp {
    margin: 0;
  }

  .x1717udv {
    padding: 0;
  }
}

@layer components.stylex.priority2 {
  .x3ct3a4 {
    list-style-type: none;
  }
}
/* buildId: 5aad4b01f9f2defbbd38278058b3b1d716b47c915721252c1b34ae2218f2c0af · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
