@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x1xsfxl3 {
    gap: calc(var(--jx-gap) / 2);
  }
}

@layer components.stylex.priority2 {
  .x6s0dn4 {
    align-items: center;
  }

  .x3nfvp2 {
    display: inline-flex;
  }
}
/* buildId: f6558fb12906568c70cc330f4e3cb1a3cd4765df5da5bf5a7ace526ad3b96eed · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
