@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2, utilities;
@layer properties, theme, base, components;

@layer components.stylex.priority1 {
  .x15r89dc {
    grid-area: 1 / 1;
  }
}

@layer components.stylex.priority2 {
  .xrvj5dj {
    display: grid;
  }

  .x47corl {
    pointer-events: none;
  }

  .x17dzmu4 {
    transform: translateZ(0);
  }
}

@layer utilities;
/* buildId: 077eddbfa23601ef938bc175cf6f5893ed839e10ecf9696098b5a115debeaa34 · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
