@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x15r89dc {
    grid-area: 1 / 1;
  }
}

@layer components.stylex.priority2 {
  .xrvj5dj {
    display: grid;
  }

  .x47corl {
    pointer-events: none;
  }

  .x17dzmu4 {
    transform: translateZ(0);
  }
}
/* buildId: f6558fb12906568c70cc330f4e3cb1a3cd4765df5da5bf5a7ace526ad3b96eed · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
