@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x15r89dc {
    grid-area: 1 / 1;
  }
}

@layer components.stylex.priority2 {
  .xrvj5dj {
    display: grid;
  }

  .x47corl {
    pointer-events: none;
  }

  .x17dzmu4 {
    transform: translateZ(0);
  }
}
/* buildId: b3ad961302de84899611d87ca5d0c5c564f205140fe2b2a2409e6feb8bf37b44 · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
