@layer properties, theme, base, components, components.stylex.priority1, components.stylex.priority2;

@layer components.stylex.priority1 {
  .x1n2onr6 {
    position: relative;
  }
}

@layer components.stylex.priority2 {
  .x5yr21d {
    height: 100%;
  }

  .xw2csxc {
    overflow-x: auto;
  }

  .x6ikm8r {
    overflow-x: hidden;
  }

  .x1odjw0f {
    overflow-y: auto;
  }

  .x10wlt62 {
    overflow-y: hidden;
  }
}
/* buildId: 5aad4b01f9f2defbbd38278058b3b1d716b47c915721252c1b34ae2218f2c0af · generator: @jixoai/ui-vite-plugin@0.5.1 · engine: @stylexjs/unplugin@0.19.0 */
